.header{
    background-color: rgb(141, 18, 18);
    display: flex;
}
.header1{
    display: flex;
    /* width: 50%; */
}
.header1 img{
    width: 60px;
    padding-left: 30px;
    padding-top: 20px;
}
.header1 p {
    text-align: center;
    padding-top: 3px;
    padding-left: 25px;
    color: aliceblue;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding-right: 70px; */
    width: 100%;
}



.header3{
    display: flex;
    padding: 20px;
    padding-left: 700px;
}
.headerbuttons img{
    width: 40px;
    height: 40px;
}
.headerbuttons{
    padding-left: 30px;
    padding-right: 20px;
}
.headerbuttons p{
    font-size: 20px;
    margin-top: -1px;
    color: white;

}

.altheader3{
    width: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup, .signin{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #0b0b27;
    color: white;
    border-radius: 10%;
    font-size: 20px;
}    